PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT={{ postgres_port }}
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME={{ project_name | replace("-", "_") }}
CLERK_SECRET_KEY=sk_test_replace_with_actual_clerk_secret_key
CLERK_PUBLISHABLE_KEY=pk_test_replace_with_actual_clerk_publishable_key
CLIENT_ORIGINS=http://localhost:{{ web_port }}
